black
click
dill
fastapi
gast
intervaltree
isort
jedi
jupyter==1.0.0
jupyter_contrib_nbextensions
jupyterlab
jupytext
keras==3.4.1
lightgbm
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
plotly==5.22.0
pre-commit
protobuf
pygtrie
pytype
ruff
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
simplejson
statsmodels==0.14.2
tensorflow==2.17.0
uvicorn
xgboost==2.1.0
geopy==2.4.1
line_profiler==4.1.2
psycopg2-binary==2.9.9
redis
nibabel
